    .button-gap {
    width: 50px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
  .image-container-title{
    font-size: 40px;
    font-family: "Rubik Doodle Shadow", serif;
    margin: 20px;
    align-items: center;
    text-align: center;  
    font-weight: bold; /* 글자를 굵게 표시 */
    color: black; 
    border-radius: 10px; /* 더 굵고 둥근 스타일을 위해 border-radius 적용 */
  }
  
  .button-divider {
    width: 100%; /* 가로선이 컨테이너 전체 너비를 가지도록 설정 */
    margin: 10px 0; /* 위아래 간격 조절 */
    border: 2px solid #333;
  }
  
  /* 수직선 스타일 */
  .vertical-line {
    border-left: 10px solid #333; /* 세로선의 스타일을 지정합니다. */
    height: 550px; /* 세로선의 높이를 조절합니다. */
    margin: 10px; /* 세로선 주변의 여백을 조절합니다. */
  }

  .container {
    margin: 30px;
    display: flex;
    box-shadow: 0 0 0 2px #333;
  }

  .button-container {
    display: inline-block;
    padding: 50px 50px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #333; /* 테두리의 두께와 색상을 설정합니다. */
    border-radius: 20px; /* 테두리의 둥글기 정도를 조절합니다. */
    background-color: white; /* 배경색을 설정합니다. */
    color: black; /* 글자색을 설정합니다. */
    margin: 200px;
    align-items: center;
    justify-content: center;
    
  }
  
  .button-container:hover {
    background: linear-gradient(to bottom, #F9BD9D, #FDE3D5); /* 버튼 위에 호버됐을 때의 배경색을 설정합니다. */
  }
  
  .button-gap {
    width: 25px;
  }

  .image-container {
    position: relative;
    font-weight: bold; 
    align-items: center;
    justify-content: center;
  }
  
  .image-name {
    position: relative;
    background-color:  rgba(255, 0, 0, 0.0);
    font-family: 'Arial', sans-serif; /* 글씨체 설정 (원하는 글꼴로 변경 가능) */
    font-weight: bold; /* 굵은 글씨체 적용 */
    border-radius: 10px; /* 둥근 테두리 적용 */
    font-size: 22px;
  }

  .image {
    margin-bottom: 30px;
  }