@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.ResultComponent {
  text-align: center;
  margin: 30px;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom, #F9BD9D, #FDE3D5); 
}

.ResultImageContainer {
  width: 400px;
  height: 350px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ResultImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ResultImageName {
  vertical-align: 5px;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 30px;
  font-weight: bold; /* 글자를 굵게 표시 */
  color: black; 
  border-radius: 10px; /* 더 굵고 둥근 스타일을 위해 border-radius 적용 */
}

.ResultImageCardContainer{
}

.ResultImageTitle{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 30px;
  font-weight: bold; /* 글자를 굵게 표시 */
  color: black; 
  border-radius: 10px; /* 더 굵고 둥근 스타일을 위해 border-radius 적용 */
}